:root {
	--theme-color: #6200ea;
	--heading-h5-font-size: 1rem;
	--sidebar-width: 35rem;
}

/* Style the tab links */
.tabs {
	overflow: hidden;
	background-color: #f1f1f1;
}

.tablink {
	background-color: #ddd;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	text-align: center;
	transition: 0.3s;
}

.tablink:hover {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 20px;
	border: 1px solid #ccc;
	border-top: none;
}

.sidebar {
	font-size: 0.9rem;
}


#in-depth {
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	text-align: center;
	transition: background-color 0.3s, box-shadow 0.3s;
	background-color: #6200ea;
	color: white;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14),
		0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#in-depth:hover {
	background-color: #3700b3;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

* {
	scrollbar-color: #6200ea;
}

*::-webkit-scrollbar-track {
	background: #242E33;
}

*::-webkit-scrollbar-thumb {
	background-color: #6200ea;
	border-radius: 6px;
	border: 3px solid #242E33;
}

*::-webkit-scrollbar {
	width: 12px;
}

.markdown-section h3 code,
.markdown-section h4 code,
.markdown-section h5 code {
	white-space: wrap !important;
}

.alert {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.version-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.version-selector-label {
	margin-right: 0.5rem;
	font-weight: bold;
	color: var(--base-color);
}

.version-selector select {
	padding: 0.1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.version-selector select:focus {
	border-color: var(--theme-color);
	box-shadow: 0 0 5px rgba(98, 0, 234, 0.5);
	outline: none;
}

.app-name>small {
	display: none;
}

/* Versioned Plugin Styles */
select.docsify-versioned-plugin {
	background-color: #333;
	/* Dark background */
	color: #fff;
	/* White text */
	border: 1px solid #555;
	/* Border color */
	border-radius: 4px;
	/* Rounded corners */
	padding: 5px 10px;
	/* Padding */
	font-size: 14px;
	/* Font size */
	cursor: pointer;
	/* Pointer cursor */
}

/* Style the dropdown options */
select.docsify-versioned-plugin option {
	background-color: #444;
	/* Option background */
	color: #fff;
	/* Option text color */
}

/* Add hover effect for the dropdown */
select.docsify-versioned-plugin:hover {
	background-color: #555;
	/* Lighter background on hover */
}

/* Add focus effect for accessibility */
select.docsify-versioned-plugin:focus {
	outline: 2px solid #0078d7;
	/* Blue outline on focus */
}